.toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.toggle-space{
    /* height: 24px; */
    width: 32px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.toggle {
    cursor: pointer;
    width: 32px;
    height: 20px;
    background: rgba(8,0,242,0.6);
    /* display: block; */
    border-radius: 12px;
    position: relative;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 16px;
    transition: 0.3s;
}

.toggle.active {
    background: rgba(8,0,242,1);
}

.toggle.active:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: #ffffff;
}